  <div class="article-card">
    <div class="content">
      <p class="date"></p>
      <p class="title"></p>
    </div>
    <img src="https://img.freepik.com/free-vector/coming-soon-background-with-focus-light-effect-design_1017-27277.jpg" alt="article-cover" />
  </div>
