  <footer>
    <ul>
      <li><a href="https://www.instagram.com/m_h_mrou/" target="_blank"><i class="fa-brands fa-instagram icon"></i></a></li>
      <li><a href="https://www.linkedin.com/in/hugo-mariou-devweb/" target="_blank"><i class="fa-brands fa-linkedin icon"></a></i></li>
      <li><a href="https://github.com/HMariou" target="_blank"><i class="fa-brands fa-square-github icon"></i></a></li>
      <li><a href="mailto:mariou.hugo@gmail.com" target="_blank"><i class="fa-regular fa-envelope icon"></i></a></li>
    </ul>
  </footer>
