<header>
  <div class="logo">
    <a href="<%= root_path%>" class="active">HUGO MARIOU</a>
  </div>
  <div class="hamburger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>

  </div>
  <nav class="nav-bar">
    <ul>
      <li>
        <a href="<%= project_path %>">WHAT?</a>
      </li>
      <li>
        <a href="<%= about_path %>">WHO?</a>
      </li>
      <li>
        <a href="<%= contact_path %>">LET'S TALK</a>
      </li>
    </ul>
  </nav>
</header>

<script>
  hamburger = document.querySelector(".hamburger");
  hamburger.onclick = function() {
    navBar = document.querySelector(".nav-bar");
    navBar.classList.toggle("active");
  }
</script>
