<h1 class="first">MY SKILLS</h1>
<div class="project">
  <div class="article-card">
    <div class="content">
      <p class="title"></p>
    </div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/1200px-CSS3_logo_and_wordmark.svg.png" alt="article-cover" />
  </div>
    <div class="article-card">
      <div class="content">
        <p class="title"></p>
      </div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/2048px-HTML5_logo_and_wordmark.svg.png" alt="article-cover" />
  </div>
    <div class="article-card">
      <div class="content">
        <p class="title"></p>
      </div>
    <img src="https://i0.wp.com/theicom.org/wp-content/uploads/2016/03/js-logo.png?fit=500%2C500&ssl=1&w=640" alt="article-cover" />
    </div>
    <div class="article-card">
      <div class="content">
        <p class="title"></p>
      </div>
    <img src="https://www.betterwebsites.ca/nvimedia/Logo-Ruby.png" alt="article-cover" />
  </div>
  </div>

</div>

<h1 class="first">MY TOOLS</h1>

<div class="project">
  <div class="article-card">
    <div class="content">
      <p class="title"></p>
    </div>
    <img src="https://logos-marques.com/wp-content/uploads/2021/03/GitHub-Logo.png" alt="article-cover" />
  </div>
    <div class="article-card">
      <div class="content">
        <p class="title"></p>
      </div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/1280px-Bootstrap_logo.svg.png" alt="article-cover" />
  </div>
    <div class="article-card">
      <div class="content">
        <p class="title"></p>
      </div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Heroku_logo.svg/2560px-Heroku_logo.svg.png" alt="article-cover" />
    </div>
    <div class="article-card">
      <div class="content">
        <p class="title"></p>
      </div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Ruby_On_Rails_Logo.svg/1200px-Ruby_On_Rails_Logo.svg.png" alt="article-cover" />
  </div>
  </div>

</div>

<div class="invite">
<p>You don't want to go through LinkedIn ? You can check my CV here!</p>
</div>

