<h1 class="first">WHO I AM</h1>
<div class="container">
  <div class="texts">
    <p>
      Hi, I'm Hugo!
      I moved to Montréal last year to establish myself in Canada, become a permanent resident, and get the canadian citizenship someday! <br> <br>
      I completed Le Wagon's training and I am now looking for a first experience in web development. <br>
      I am dedicated, passionated and willing to always learn more! <br>
      For more information, you can browse my website or, even better, book me <a class="cvlink" href="<%= contact_path %>">here</a> so that we can have a chat! <br> <br>
      <p>You don't want to go through LinkedIn ? You can check my CV by clicking <a class="cvlink" href="https://docdro.id/576z9ff" download>here</a>!</p>
    </p>
  </div>
  <div class="">
 <%= image_tag "myself.jpg", style: 'display: block; margin: auto; width: 45%;'
  %>
  </div>

</div>
