<h1 class="first">WHO I AM</h1>
<div class="container">

    <p> Hey! my name is Hugo, I'm a french guy who'd like to his life in Canada. It has been almost a year since I moved to Montreal and it has been the best decision I have ever made.
    Today, I'm looking for a job in as web developer for many reasons. <br> <br>
    - I've dreamt my all life to live in Canada and now that i'm here, I would like the permanent residency to stay here and build my life here. <br> <br>
    - Also, I discovered through my researchs, my experiences and the bootcamp I did that my dream job is in this field, in this country. <br>
    </p>
<p>You don't want to go through LinkedIn ? You can check my CV <a class="cvlink" href="https://docdro.id/576z9ff" download>here</a>!</p>


</div>
