<h1 class="first">WHO I AM</h1>
<div class="container">
  <div class="texts">
    <p>
      Hi, I'm Hugo!
      I moved to Montréal last year to establish myself in Canada (and stay there!). <br>
      I completed Le Wagon's training ans I am now looking for a first experience in web development. <br>
      I am dedicated, passionated and willing to always learn more! <br>
      For more information, you can browse my website or, even better, book me <a class="cvlink" href="<%= contact_path %>">here</a> so that we can have a chat!
    </p>
  </div>
  <div class="texts">
    <p>You don't want to go through LinkedIn ? You can check my CV <a class="cvlink" href="https://docdro.id/576z9ff" download>here</a>!</p>
  </div>

</div>
