<div class="banner">
<div class ="landingtext">
<h1> Welcome to my website!</h1>
<p> Hi, i'm Hugo and I developed this whole website to train as a Web Developer. Here is the result</p>
</div>

</div>
