<div class="first"><H1>MY SKILLS</H1></div>
<div class="container">

  <div class="card">
    <div class="face face1">
      <div class="content">
        <span class="stars"></span>
        <h2 class="cardtext">HTML</h2>
        <p class="cardtext">The first language I started to dive in the web development</p>
      </div>
    </div>
    <div class="face face2">

    </div>
  </div>

  <div class="card">
    <div class="face face1">
      <div class="content">
        <span class="stars"></span>
        <h2 class="cardtext">CSS</h2>
        <p class="cardtext">Comes in pair with HTML.</p>
      </div>
    </div>
    <div class="face face2">

    </div>
  </div>

    <div class="card">
    <div class="face face1">
      <div class="content">
        <span class="stars"></span>
        <h2 class="cardtext">Javascript</h2>
        <p class="cardtext">I'm currently learning about Javascript and its application, I love it!</p>
      </div>
    </div>
    <div class="face face2">

    </div>
  </div>

  <div class="card">
    <div class="face face1">
      <div class="content">
        <span class="stars"></span>
        <h2 class="cardtext">Ruby</h2>
        <p class="cardtext">The back-end language I learned from my bootcamp!</p>
      </div>
    </div>
    <div class="face face2">

    </div>
  </div>
</div>
<div class="first"><H1>MY TOOLS</H1></div>
<div class="container">


</div>
