<h1 class="first">MY SKILLS</h1>
<div class="project">
  <div class="article-card">
    <div class="content">
      <p class="title"></p>
    </div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/1200px-CSS3_logo_and_wordmark.svg.png" alt="article-cover" />
  </div>
    <div class="article-card">
      <div class="content">
        <p class="title"></p>
      </div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/2048px-HTML5_logo_and_wordmark.svg.png" alt="article-cover" />
  </div>
    <div class="article-card">
      <div class="content">
        <p class="title"></p>
      </div>
    <img src="https://i0.wp.com/theicom.org/wp-content/uploads/2016/03/js-logo.png?fit=500%2C500&ssl=1&w=640" alt="article-cover" />
    </div>
    <div class="article-card">
      <div class="content">
        <p class="title"></p>
      </div>
    <img src="https://www.betterwebsites.ca/nvimedia/Logo-Ruby.png" alt="article-cover" />
  </div>
  </div>

</div>

<h1 class="first my-4">MY TOOLS</h1>
<div class="project">
  <div class="article-card">
    <div class="content">
      <p class="title"></p>
    </div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/1200px-CSS3_logo_and_wordmark.svg.png" alt="article-cover" />
  </div>
    <div class="article-card">
      <div class="content">
        <p class="title"></p>
      </div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/2048px-HTML5_logo_and_wordmark.svg.png" alt="article-cover" />
  </div>
    <div class="article-card">
      <div class="content">
        <p class="title"></p>
      </div>
    <img src="https://i0.wp.com/theicom.org/wp-content/uploads/2016/03/js-logo.png?fit=500%2C500&ssl=1&w=640" alt="article-cover" />
    </div>
    <div class="article-card">
      <div class="content">
        <p class="title"></p>
      </div>
    <img src="https://www.betterwebsites.ca/nvimedia/Logo-Ruby.png" alt="article-cover" />
  </div>
  </div>

</div>

<div class="invite">
<p>If you're interested, you can download my CV <a href="">here</a>!</p>
</div>
