footer ul {
  display: flex;
  justify-content: center;
  gap: 50px;
  width: 100vw;
  height: 7vh;
  background-color: black;
  border-top: 1px outset rgba(154, 153, 153, 0.195);
}
footer {
  position: fixed;
  bottom: 0;
  right: 0;

}

@keyframes fadeIn {

  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    transform: translateY(15%);
    opacity: 1;

  }

}

.icon {
  font-size: 40px;
  animation: fadeIn 1s normal forwards;
  transition: 0.2s;
  padding-bottom: 10px;
  padding-top: 10px;
}

.icon:hover {
  transition: 0.2s;
  font-size: 50px;
}
