@import "navbar";
@import "footer";
@import "card";

@font-face {
  font-family: 'aqua-grotesque';
  src: url('aqua.ttf')
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;

}

header {
  font-family: 'aqua-grotesque';
}

.first {
  padding-top: 10px;
  padding-left: 25px;
}

.banner {
  background-image: url('pexels-pixabay-270360.jpg');
  background-size: cover;
  width: 100%;
  height: 91.45vh;
}

a {
  color: black;
}

.text {
  margin-left: 15px;
  height: 100px;
  width: 30vw;
  font-family: 'Roboto Slab', serif;
}
